@model MonitorDO2.Models.Do2ViewModel
@{
    ViewData["Title"] = "Не сформировано ДО2";
}
<form method="get">
    <div class="form-inline form-group">
        <!--label class="control-label">Дата выдачи: </!--label>
    <input name="rddate" class="form-control" /-->

        <label asp-for="RdDate" class="control-label"></label>
        <input asp-for="RdDate" id="datepicker" type="text" class="form-control" />
        <span asp-validation-for="RdDate" class="text-danger"></span>

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>

<!--div class="form-group">
    <label asp-for="RdDate" class="control-label"></label>
    <input asp-for="RdDate" id="datepicker" type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
    <span asp-validation-for="RdDate" class="text-danger"></span>
</div-->

@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
}

Всего не сформировано ДО2: @Model.RdWoDo2s.Count()

<table class="table">
    <tr>
        <th>Номер AWB</th>
        <th>Технология</th>
        <th>Дата выдачи</th>
        <th>Мест</th>
        <th>Вес</th>
    </tr>

    @foreach (var item in Model.RdWoDo2s)
    {
        <tr><td>@item.FullAwbNumber</td><td>@item.AwbTech</td><td>@item.RdDate</td><td>@item.Pieces</td><td>@item.Weight</td></tr>
    }
</table>
